<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "styles/stylesheet.css">
    <link id = "icon" rel = "icon" type = "image/png" href = "images/favicon.png">
</head>
<body>
    <h1>Contact Form</h1>
        <form action="/confirmation" method="post">
            <section id = "contactInfo">
                <label>First Name: <br><input type = "text" name = "fname"></label>
                <label>Last Name: <br><input type = "text" name = "lname"></label> 
                <label>Job Title: <br><input type = "text" name = "job"></label>
                <label>Company: <br><input type = "text" name = "company"></label>
                <label>LinkedIn URL: <br><input type = "text" name = "linkedin"></label>
                <label>Email Address: <br><input type = "text" name = "email"></label>
            </section>

            <section id = "howMeet">
                <label> How did we meet? <br>
                    <select name = "howMeet" id = "size">
                        <option value = "none">--- Select a Option ---</option>
                        <option value = "work">Through Work</option>
                        <option value = "event">Through a Event</option>
                        <option value = "fair">Through a Job Fair</option>
                        <option value = "school">Through School</option>
                        <option value = "mutual">Through a Mutual Friend</option>
                    </select>          
                </label>  
            </section>

            <section id = "leaveMessage">
                <label id = "messageB">Leave a message: <br><textArea></textArea></label>
            </section>

            <section id = "contact">
                <label>
                    <input type = "checkbox" name = "mailing" value = "confirm">Add me to your mailing list
                </label>
            </section>

            <button id = "goButton" type = "submit" type = "text">Submit</button>
        </form>
    </body>
</html>